snippet sec "Comment section"
" ===
" === ${1:New Section}
" ===
${0}
endsnippet

snippet secc "Python Comment section"
# ============================================
# =========== ${1:New define} ================
# ============================================
${0}
endsnippet

snippet doc "python comment"
"""
${1:Documents}
"""
${0}
endsnippet

